/*** general ***/
#photofit-app {
	max-width: 1024px;
	min-width: 320px;
	margin: 0 auto;
}

#photofit-app section {
	min-height: 371px;
	width: 36%;
	float: left;
	margin-left: 20px;
}

#photofit-app section:first-child {
	width: 14%;
}

#photofit-app section:last-child {
	float: right;
	margin-left: 0;
}

#photofit-app h1 {
	font-size: 70px;
	line-height: 80px;
	letter-spacing: -1px;
	text-align: center;
}

#photofit-app h2 {
	text-transform: capitalize;
}

#photofit-app nav span {
	text-transform: capitalize;
}

#photofit-app ul,
#photofit-app li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#photofit-app .tile {
	text-align: left;
	padding-top: 0;
}

#photofit-app .tile p {
	margin-bottom: 12px;
	font-size: 13px;
}

#photofit-app li {
	margin-bottom: 14px;
}

#photofit-app div#choices li {
	position: relative;
	height: 90px;
	margin-bottom: 14px;
}

#photofit-app .style {
	position: absolute;
	height: 90px;
	cursor: pointer;
	background-color: #ccc;
	width: 100%;
	cursor: move;
	outline: 0;
	z-index: 1;
	overflow: hidden;
	box-sizing: border-box;
}

#photofit-app .style img {
	width: 100%;
	height: 100%;
}

#photofit-app .style.selected {
	visibility: hidden;
}

#photofit-app #picks {
	margin-bottom: 14px;
}

#photofit-app #picks .style {
	position: static;
	cursor: default;
	background-color: #666;
}

#photofit-app #picks .style.available {
	background-color: #ff6666;
}

#photofit-app #picks .style.active {
	background-color: #99ff99;
}

canvas#photo {
	visibility: hidden;
	position: absolute;
	left: -9999em;
	top: -9999em;
}

#photofit-app footer {
	clear: both;
	background-color: transparent;
}

#photofit-app footer p {
	color: #999;
	font-size: 13px;
	margin: 14px 0;
	text-align: right;
}

#photofit-app footer p a {
	color: #999;
}
/*** general ***/

/*** responsive ***/
/* 1024 */
@media screen and ( max-width: 1024px ) {

	#photofit-app {
		padding: 0 10px;
		margin: 0;
	}

	#photofit-app section:first-child {
		width: 12%;
	}

	#photofit-app section {
		width: 37%;
	}

}
/* 960 */
@media screen and ( max-width: 960px ) {

	#photofit-app h2 {
		font-size: 22px;
	}

	#photofit-app section:first-child {
		width: 11%;
	}

	#photofit-app section {
		width: 37%;
	}

}
/* 900 */
@media screen and ( max-width: 900px ) {

	#photofit-app h1 {
		font-size: 65px;
		line-height: 75px;
	}

	#photofit-app h2 {
		font-size: 18px;
		line-height: 36px;
		margin: 0;
	}

	#photofit-app section:first-child {
		width: 8%;
	}

	#photofit-app section {
		width: 38%;
	}

}
/* 800 */
@media screen and ( max-width: 800px ) {

	#photofit-app h1 {
		font-size: 60px;
		line-height: 70px;
	}

	#photofit-app h2 {
		font-size: 14px;
		margin: 0;
	}

	#photofit-app section:first-child {
		float: none;
		width: auto;
		min-height: 0;
		margin-bottom: 14px;
	}

	#photofit-app section:first-child h2,
	#photofit-app section:first-child p {
		float: left;
		line-height: 38px;
		margin: 0 10px 0 0;
	}

	#photofit-app section:first-child ul {
		overflow: auto;
		clear: both;
	}

	#photofit-app section:first-child li {
		float: left;
		margin-right: 14px;
		margin-bottom: 0;
	}

	#photofit-app section {
		width: 44%;
	}

}
/* 680 */
@media screen and ( max-width: 680px ) {

	#photofit-app {
		padding: 0 5px;
	}

	#photofit-app h1 {
		font-size: 40px;
		line-height: 50px;
	}

	#photofit-app section:first-child {
		width: auto;
		margin-bottom: 5px;
	}

	#photofit-app section {
		width: 43%;
	}

}
/* 560 */
@media screen and ( max-width: 560px ) {

	#photofit-app h1 {
		font-size: 30px;
		line-height: 36px;
	}

	#photofit-app section,
	#photofit-app section:last-child {
		float: none;
		width: auto;
		min-height: 0;
	}

	#photofit-app div#choices li {
		height: 60px;
		margin-bottom: 10px;
	}

	#photofit-app .style {
		height: 60px;
	}

	#photofit-app section:nth-child( 2 ) {
		margin-bottom: 5px;
	}

	#photofit-app section:nth-child( 3 ) {
		margin-left: 20px;
	}

	#photofit-app #picks {
		margin-bottom: 10px;
	}

	#photofit-app footer p {
		font-size: 11px;
		text-align: left;
	}

}
/* 460 */
@media screen and ( max-width: 486px ) {

	#photofit-app section:first-child li {
		margin-right: 6px;
	}

	#photofit-app section:first-child .btn {
		padding: 6px;
	}

	#photofit-app div#choices li {
		height: 50px;
		margin-bottom: 5px;
	}

	#photofit-app .style {
		height: 50px;
	}
	
	#photofit-app #picks {
		margin-bottom: 5px;
	}

}
/* 400 */
@media screen and ( max-width: 450px ) {

	#photofit-app section:first-child li {
		margin-right: 4px;
	}

	#photofit-app section:first-child .btn {
		padding: 3px;
	}

}
/* 340 */
@media screen and ( max-width: 365px ) {

	#photofit-app section:first-child li {
		margin-right: 2px;
	}

}
/*** /responsive ***/